.App {
  text-align: center;
  font-family: -apple-system,'Inter UI', sans-serif;
    background-color: rgb(28, 29, 31);
  /* background-color: #282c34; */
  color: white;
  height: 100vh;

}

.App p {
  font-size: 14px;
}
.projects{ 
  width: calc(33.333% - 28px);
  margin: 24px;
  min-width: 200px;
  min-height: 400px;
  max-height: 500px;
  padding: 52px;
  background: linear-gradient(rgb(140, 1, 204) 10%, rgba(99, 33, 185, 0.82) 60% );
  box-shadow: rgb(0 0 0 / 30%) 0px 13px 40px,
  rgb(0 0 0 / 20%) 0px 4px 4px;
  border-radius:5px;
  overflow: scroll;
  overflow-x: hidden;
 -webkit-appearance: none;
}
.card {
      width: calc(33.333% - 28px);
      margin: 24px;
      min-width: 200px;
      min-height: 400px;
      max-height: 500px;
      padding: 52px;
      background: linear-gradient(rgb(40, 41, 44) 0%, rgba(39, 40, 43, 0.82) 100%);
      box-shadow: rgb(0 0 0 / 30%) 0px 13px 40px,
      rgb(0 0 0 / 20%) 0px 4px 4px;
      border-radius:5px;
      overflow: scroll;
      overflow-x: hidden;
     -webkit-appearance: none;
}



/* scrollbar */

.card::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  top: 10px;
  color:gray; 
  scroll-padding: 10px;       
}

.card::-webkit-scrollbar-track {
  background: transparent;
  scrollbar-shadow-color: azure; 
  margin: 10px;
   width: 10px;
   height: 100px;
}

.card::-webkit-scrollbar-track-piece {
  background: transparent center 0 repeat-y;
  margin-top: 100px;
  margin-bottom: 100px; 
    /* background: url('scroll-bg.gif') center 0 repeat-y; */
}


.card::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  margin-top: 100px;
  height: 100px;
  width: 100px;
  max-height: 10px;
  background-color: rgb(155, 155, 155);
  padding-top: 5px;
  top:15px;
  border-radius: 50px;       
  border: 2px solid rgb(56, 56, 56); 
}

.card::-webkit-scrollbar-thumb:hover {
  background-color: #f8f8f8;
}

ul p {
  display: inline;
}
.description{
color: rgb(155, 155, 155);
text-justify: inter-cluster;
overflow: hidden;
}

.date{
  margin: 16px 16px 0px;
  height: 30px;
  line-height: 30px;
  padding: 3px 8px;
  font-size: 1em;
  flex-shrink: 0;
  align-self: flex-end; 
  color: rgb(228, 188, 10);
  background: rgb(54, 53, 49);
  border-radius: 4px;
  max-width: calc(100vw - 60px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.capsule{
  margin: 8px 8px 0px;
  height: 30px;
  line-height: 30px;
  padding: 3px 8px;
  font-size: 1em;
  flex-shrink: 0;
  align-self: flex-start;
  color: rgb(138, 143, 152);
  background: rgb(49, 50, 54);
  border-radius: 4px;
  max-width: calc(100vw - 60px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.capsule a {
  color: #ffffff; 
}

.user {
  display: flex;
}
.user p{ 
  color: gray;
  font-weight: 500;
}

.user span{
  color:rgb(240, 172, 84);
  font-weight: 400;
}

.user h{
  color: rgb(69, 81, 181);
  font-weight: 500;
  padding-left: 2px;
  
}

.titles {
  margin: 1px;
  color: rgb(252, 252, 252);
  padding-left: 0px;
  margin-left:0px;
  text-align: start;
}

.taskNumber{
  text-align: right;
  position: inherit;
}

.taskNumber span{
    padding: left 1px; 
     border: gray solid 0px;
     margin: 2px;
    color: gray;
    position: absolute;


}

.btn { 
    width: 50%;
    max-width: 200px;
    display: inline-flexbox;
    background: linear-gradient(101.06deg, rgb(69, 81, 181) 9.16%, rgb(86, 67, 204) 32.02%, rgb(84, 63, 215) 64.72%);
    border:none;
    border-radius:4px;
    color: white;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sync{
  display:flex;
  justify-self: left; 
  color: gray;
  font-size: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    animation: gradient 8s infinite ease-in-out;
  }
}

@keyframes gradient {
  from {
    /* background-color: red; */
     filter: saturate(1);
     filter: hue-rotate(360deg);
  }

  to {
    /* background-color: blue; */
     filter: saturate(0);
     filter: hue-rotate(0deg);
  }
}

.container {
  position: relative;
  text-align: center;
  color: rgb(231, 229, 229);
}

.container img{
  border: 5px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 500;
  font-size:17px;
  transform: translate(-50%, -50%);
}

.centered p {
font-size:14px;
}

.App-header {
    background-color: rgb(28, 29, 31);
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Logo {
  width: 26px;
  padding-left: 5px;
}
.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

