.App {
  text-align: center;
  font-family: -apple-system,'Inter UI', sans-serif;
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    animation: gradient 8s infinite ease-in-out;
  }
}

@keyframes gradient {
  from {
    /* background-color: red; */
     filter: saturate(1);
     filter: hue-rotate(360deg);
  }

  to {
    /* background-color: blue; */
     filter: saturate(0);
     filter: hue-rotate(0deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
