html { 
  background-color: rgb(28, 29, 31);
  /* background-color: #282c34; */
  color: white;
}

body {
  margin: 0;
 font-family: -apple-system, 'Inter UI', sans-serif;
  /*  ,'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', */
   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code { 
  font-family: 'Inter UI',
    monospace;
}
